<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <h4><b>Edit My Info</b></h4>
      </div>
    </div>

    <% if current_user %>
      <% if current_user.profile_photo.file.nil? %>
      <div class="row">
        <div class="col s12">
          No Profile Photo
        </div>
      </div>
      <%else%>
        <img src=<%= current_user.profile_photo %> height="120" width="120">
      <%end%>
    <%end%>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="row">
        <div class="col s12">
          <%= devise_error_messages! %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <%= f.text_field :first_name, type: "text", class: "validate", :required => true %>
          <%= f.label :first_name, class: "active"%>
        </div>

        <div class="input-field col s6">
          <%= f.text_field :last_name, type: "text", class: "validate", :required => true %>
          <%= f.label :last_name ,class: "active"%>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.email_field :email, type: "text", class: "validate" %>
          <%= f.label :email, class: "active" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>


      <div class="row">
        <div class="input-field col s12">
        <%= f.password_field :password, autocomplete: "off" %>
        <%= f.label :password, "New Password" ,class: "active"%>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
        <%= f.label :password_confirmation, "Confirm New Password" ,class: "active"%>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
        <%= f.password_field :current_password, autocomplete: "off" %>
        <%= f.label :current_password , "Current Password *" , class: "active"%>
        </div>
      </div>

      <div class="row">
        <div class="file-field input-field col s12">
          <div class="btn">
            <span>File</span>
            <%= f.file_field :profile_photo, id: "upload"%>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate", placeholder="Change my Avatar">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <%= f.submit "Update", class: "btn waves-effect waves-light" %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col s12">
        <h4><b>Cancel my account</b></h4>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
          <%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn waves-effect waves-light red lighten-1" %>
      </div>
    </div>
  </div>
</div>
