
<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <h4><b>Sign up</b></h4>
      </div>
    </div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col s12">
      <%= devise_error_messages! %>
    </div>
  </div>


  <div class="row">
    <div class="input-field col s6">
      <%= f.text_field :first_name, type: "text", class: "validate", :required => true %>
      <%= f.label :first_name, class: "active"%>
    </div>

    <div class="input-field col s6">
    <%= f.text_field :last_name, type: "text", class: "validate", :required => true %>
    <%= f.label :last_name ,class: "active"%>
  </div>
</div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.email_field :email, type: "text", class: "validate", :required => true %>
      <%= f.label :email, class: "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
    <%= f.password_field :password, autocomplete: "off", :required => true %>
    <%= f.label :password ,class: "active"%>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
    <%= f.password_field :password_confirmation, autocomplete: "off", :required => true%>
    <%= f.label :password_confirmation ,class: "active"%>
    </div>
  </div>

  <div class="row">
    <div class="file-field input-field col s12">
      <div class="btn">
        <span>File</span>
        <%= f.file_field :profile_photo, id: "upload"%>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate", placeholder="Upload a picture">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= f.submit "Sign up", class: "btn waves-effect waves-light" %>
    </div>
  </div>

<% end %>
<div class="row">
  <div class="col s12">
    <%= render "devise/shared/links" %>
  </div>
</div>

  </div>
</div>
