<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <h4><b>Edit Review</b></h4>
      </div>
    </div>

    <%= form_for(@review, :url => {:action => :update}) do |f| %>

      <div class="row">
        <div class="input-field col s6">
          <%= f.text_field :body, type: "text", class: "validate", :required => true %>
          <%= f.label :body, class: "active"%>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <%= f.text_field :rating, type: "text", class: "validate", :required => true %>
          <%= f.label :rating, class: "active"%>
        </div>
      </div>

      <div class="row">
        <div class="col s12">
          <%= f.submit "Update Review", class: "btn waves-effect waves-light red lighten-3" %>
        </div>
      </div>
  <% end %>


  </div>
</div>
