<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="col s12">
        <h4><b>Forgot your password?</b></h4>
      </div>
    </div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="input-field col s6">
    <%= f.email_field :email  %>
    <%= f.label :email %>
  </div>
</div>

  <div class="row">
    <div class="col s12">

    <%= f.submit "Send me reset password instructions" , class: "btn waves-effect waves-light red lighten-3" %>
  </div>
</div>

<% end %>

<div class="row">
  <div class="col s12">
    <%= render "devise/shared/links" %>
  </div>
</div>
</div>
</div>
