<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>CupidsCompass</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <header>
    <nav class="nav-extended">
      <div class="nav-wrapper teal lighten-1">
        <li class="brand-logo">&nbsp;&nbsp;&nbsp;<%= link_to "Cupid's Compass", root_path %></li>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if current_user %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <%else%>
            <li><%=link_to "Sign In", new_user_session_path %></li>
            <li><%=link_to "Sign Up", new_user_registration_path %></li>
          <%end%>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if current_user %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <%else%>
            <li><%=link_to "Sign In", new_user_session_path %></li>
            <li><%=link_to "Sign Up", new_user_registration_path %></li>
          <%end%>
        </ul>
      </div>
    </nav>
  </header>

    <% if flash[:notice] %>
      <script type="text/javascript">
        Materialize.toast('<%= notice %>', 6000)
      </script>
    <% elsif flash[:error] %>
      <script type="text/javascript">
        Materialize.toast('<%= flash[:error] %>', 6000)
      </script>
    <% elsif flash[:alert] %>
      <script type="text/javascript">
        Materialize.toast('<%= alert %>', 6000)
      </script>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
