<!DOCTYPE html>
<html>
  <head>
    <meta name=“viewport” content='width=device-width,initial-scale=1'>
    <title>CupidsCompass</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav class="nav-extended">
      <div class="nav-wrapper teal lighten-1">
        <%=link_to "Cupid's Compass", root_path , class: "brand-logo" %>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if current_user %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <%else%>
            <li><%=link_to "Sign In", new_user_session_path %></li>
            <li><%=link_to "Sign Up", new_user_registration_path %></li>
          <%end%>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if current_user %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <%else%>
            <li><%=link_to "Sign In", new_user_session_path %></li>
            <li><%=link_to "Sign Up", new_user_registration_path %></li>
          <%end%>
        </ul>
      </div>
    </nav>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
