<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>CupidsCompass</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <header>
    <nav class="nav-extended">
      <div class="nav-wrapper teal lighten-1">
        <li class="brand-logo">&nbsp;&nbsp;&nbsp;<%= link_to "Cupid's Compass", root_path %></li>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <%= form_tag(search_locations_path, method: :get) do %>
          <li><%= text_field_tag 'query', params[:query], placeholder: 'I\'m looking for...' %></li>
          <li>
            <button class="btn-floating teal lighten-3" type="submit" name="action">
            <i class="material-icons right" style='margin-top: -12px'>search</i></button>
          </li>
          <% if current_user %>
              <% if current_user.admin %>
                  <li><%= link_to "All Locations List", admin_locations_path %></li>
                  <li><%= link_to "All Users List", users_path %></li>
              <%end%>
            <li><%= link_to "Profile", current_user %> </li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <%else%>
            <li><%=link_to "Sign In", new_user_session_path %></li>
            <li><%=link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
          <%end%>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if current_user %>
            <li>
              <div class="user-view">
                <div class="background">
                  <img src="<%= asset_path('sky.jpg')%>">
                </div>
                  <% if current_user.profile_photo.file.nil? %>
                    <span><%= link_to image_tag("avatar.jpg", :class => "circle"), current_user %></span>
                  <%else%>
                    <span><%= link_to image_tag(current_user.profile_photo, :class => "circle"), current_user %></span>
                  <%end%>
                  <span class="white-text name"><%=link_to current_user.first_name.capitalize, current_user %> </span>
                  <span class="white-text email"><%=link_to current_user.email, current_user %> </span>
              </div>
            </li>
              <% if current_user.admin %>
                  <li><%= link_to "All Locations List", admin_locations_path %></li>
                  <li><%= link_to "All Users List", users_path %></li>
              <%end%>
            <li><%= link_to "Profile", current_user %> </li>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <%else%>
            <li><%=link_to "Sign In", new_user_session_path %></li>
            <li><%=link_to "Sign Up", new_user_registration_path %></li>
          <%end%>
        </ul>
      </div>
    </nav>
  </header>

    <% if flash[:notice] %>
      <script type="text/javascript">
        Materialize.toast('<%= notice %>', 6000)
      </script>
    <% elsif flash[:error] %>
      <script type="text/javascript">
        Materialize.toast('<%= flash[:error] %>', 6000)
      </script>
    <% elsif flash[:alert] %>
      <script type="text/javascript">
        Materialize.toast('<%= alert %>', 6000)
      </script>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
